.addressCheckOut{
    font-family: $font-opensans;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5px 20px;
    border-bottom: 1px solid $color-theme;
    
    .shippingDetailHeadline{
        font-weight: $font-weight-semibold;
        margin-bottom: 8px;
    }

    .shippDetailsAddress{
        color: $color-dark-3;
        font-size: 14px;
        padding-bottom: 13px;
    }
    
}