.popup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    .circle-3 {
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        background-color: transparent;
    }
    .circle-4 {
    border-radius: 208px;
    }
    .logout-text {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
    }
    .logout-button {
        color: $color-white;
        width: 40%;
        height: 5vh;
        border-radius: 25px;
        background-color: $color-main;
        margin-bottom: 2rem;
        transition: transform .5s ease;
    }
    .logout-button:hover {
    transform: scale(1.1);
    }
    .cancel-button {
        all: unset;
        cursor: pointer;
    }
    .cancel-button:hover {
        transform: scale(1.1);
    }
    @media (max-width: 1000px){
        .circle-3{
            width: 350px;
            height: 350px;
        }
        .circle-4{
            width: 300px;
            height: 300px;
        }
        .logout-text{
            font-size: 1.5rem;
            padding: 1rem;
        }
        .logout-button{
            margin-bottom: 1rem;
        }
        .cancel-button{
            margin-bottom: 0.5rem;
        }
    }
}
  
  
  
  
  
  
  
  
  
  