.showcase{
    background-color: $color-theme;

    .container{
        @include center-content;
        padding: 40px 0;
        text-align: left;

        @include xxl {
            justify-content: space-between;
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    .content {
        text-align: left;
        @include xxl {
            text-align: center;
        }

        .title-1 {
            @include font-title-2;
            color: $color-light-1;
        }
        .title-2{
            @include font-title-2;
            align-content: flex-start;
            color: $color-light-1;
        }
    }

    img {
        max-height: 150px;
        width: auto;
    }
}