$font-montserrat: 'Montserrat', sans-serif;
$font-opensans: 'Open Sans', sans-serif;
$font-lineheight-small: 1;
$font-lineheight-standard: 1.5;

$font-size-standard: 16px;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
$font-weight-black: 900;

$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;
$breakpoint-xxxl: 1920px;

$minmaxwidth-md: 720px;
$minmaxwidth-lg: 960px;
$minmaxwidth-xl: 1140px;
$minmaxwidth-xxl: 1320px;
$minmaxwidth-xxxl: 1680px;

$color-theme: #dbe3f5;
$color-theme-2: #8d93a7;
$color-green: #69864d;
$color-light-green: rgb(0, 168, 39);
$color-red: #f4303c;
$color-yellow: #ffbe00;
$color-yellow-dark: #f2a953;

$color-dark-1: #111111;
$color-dark-2: #626262;
$color-dark-3: #888888;

$color-light-1: #ffffff;
$color-light-2: #f5f5f5;
$color-light-3: #f3f3f3;

$color-shadow-1: rgba(0,0,0, 0.10);
$color-shadow-2: rgba(112,112,112, 0.4);

$color-transparent-light-1: rgba(255, 255,255, 0.98);

$color-main: #111111;
$color-text: #626262;
$color-white: #FFFFFF;
$color-grey: #B3B9C7;
$color-bluegrey: #DBE3F5;
$color-black: #000000;
$color-green: #00824B;