.address-form-container {
  padding: 0;
}

.address-form {
  .input-field-group {
    margin-bottom: 15px;
  }

  .form-select {
    @media (min-width: 576px) {
      width: 100%;
      
    }
  }

  .error-text {
    position: relative;
    margin: 0;
    padding-left: 30px;
    bottom: 30px;
    color: red;
    font-size: 0.95rem;

    &::before {
      content: '* ';
    }
  }

  .form-check {
    margin-left: 20px;

    .form-check-label {
      color: $color-dark-2;
    }
  }
}
