.order-status{
    width: 15%;
    text-align: right;
    display: block;
}
.order-orderInfo{
    display: block;
    width: 70%;
    padding: 0%;
    margin: 0%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.customer-order{
    .list-group-item{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        border-top: none;
        border-bottom: 4px solid #DBE3F5;
    }
}

.order-date{
    margin-top: 1px;
    font-weight: 100;
}
.order-number{
    margin-bottom: 0%;
    font-size: larger;
}
.order-status-text{
    margin-bottom: 0%;
}
.order-status-text.Pending{
    color: $color-yellow;
}
.order-status-text.Shipped{
    color: $color-yellow;
}
.order-status-text.Delivered{
    color: $color-green;
}
.order-status-text.Canceled{
    color: $color-red;
}
.order-price{
    font-weight: bold;
    font-size: 1rem;
    margin-top: 6px;
}