.under-header {
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    font-family: $font-opensans;
    font-weight: $font-weight-semibold;
    opacity: 70%;;

    div {
        display: flex;
        gap: 10px;
        width: fit-content;
        padding-right: 5px;
        margin-right: 15px;

        i {
            margin-top: 5px;
        }

        &:hover {
            cursor: pointer;
        }
    }




}

.product-result-list {
    margin-top: 0px;
}