.departments-section{
    margin: 108px 5px 27px 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    .department-item{
        text-transform: uppercase;
        text-align: center;
        border-radius: 15px;
        width: fit-content;
        padding: 4px 18px;
        font-family: $font-opensans;
        font-weight: $font-weight-semibold;
        font-size: 14px;

        &:hover{
            cursor: pointer;
        }

        @include md{
            font-size: $font-size-standard;
        }

        @include xxl{
            font-size: large;
        }
    }

    @include md{
        margin-left: 30px;
    }

    @include md{
        margin-left: 50px;
    }

    @include xl{
        margin-left: 90px;
    }

    @include xxl{
        margin-left: 200px;
    }
}

.active-department{
    background-color: $color-theme;
}
