.center-button {
    display: block;
    margin: 0 auto;
  }

.BigBlackButton{
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: $color-white;
  margin-top: 2vh;
  width: 89vw;
  height: 7vh;
  border-radius: 1000px;
  background-color: $color-main;
}

.whiteButton{
  background-color: $color-light-1;
  color: $color-black;
  font-weight: $font-weight-semibold;
  border: none;
  display: block;
  width: 150px;
  height: 50px;
  font-size: 18px;
  border-radius: 25px;
  margin-top: 2vh;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: 20px;
}


.backArrow {
  position: fixed;
  top: 2vh;
  left: 10px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  z-index: 1000; /* backArrow alltid högst upp */
}


@media (max-width: 768px) {
  .backArrow {
      top: 2vh;
      left: 5px;
  }
}


@media (min-width: 768px) {
  .BigBlackButton {
    width: 20vw; /* Width for desktop devices */
  }
}
