.profilepic{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 25px;
  }
  .profilepic-outer-circle {
    height: 140px;
    width: 140px;
    border: 4px solid #dbe3f5;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    transition: transform .5s ease;
  }
  .profilepic-outer-circle:hover {
    transform: scale(1.02);
  }
  .small-camera-circle {
    position: relative;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #dbe3f5;
    overflow: visible;
    top: 50px;
    left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .profilepic-camera-icon{
    position: relative;
  }
  
  
  .profilepic-camera-icon{
    position: relative;
  }
  
  